/* material-symbols-sharp-latin-wght-normal */
@font-face {
  font-family: "Material Symbols Sharp Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url("fonts/material-symbols-sharp_5.2.11_latin-full-normal.woff2") format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} /* material-symbols-rounded-latin-wght-normal */
@font-face {
  font-family: "Material Symbols Rounded Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url("fonts/material-symbols-rounded_5.2.11_latin-full-normal.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* material-symbols-outlined-latin-wght-normal */
@font-face {
  font-family: "Material Symbols Outlined Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 700;
  src: url("fonts/material-symbols-outlined_5.2.11_latin-full-normal.woff2")
    format("woff2-variations");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer components {
  .m3-icon {
    user-select: all;
    font-size: 1em;
    line-height: 1;
  }

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
  .material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
  .material-symbols-sharp {
    font-family: "Material Symbols Sharp";
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
  }
}
